<html>
  <head>
	<base href="/">
	<title>${title}</title>
	<link href="/webstatic/css/account/style.css" rel="stylesheet">
	<link href="/webstatic/css/account/style_bundle.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>