<html>
  <head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script>
      if (window.location.hash.startsWith('#/register')) {
        window.location.replace('/register.tmpl');
      } else if (window.location.hash.startsWith('#/forgetPassword')) {
        window.location.replace('/recover.tmpl');
      } else {
		document.body.innerHTML = window.location.hash;
	  }
    </script>
  </head>
</html>